<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<appSettings>
		<add key="pathJsonDate" value="C:\practic task\Learning\XmlAndJson\bin\Debug\net6.0\person.json"/>
	</appSettings>
</configuration>